<navbarsys></navbarsys>
<div class="container">
    <div class="row">
		<div class="col-sm-12">
			<form ng-submit="addSysmanager()" >
				<label>First Name</label>
				<div class="input-group"><input type="text" class="form-control"  name="sysManagerFirstName" ng-model="sysmanager.firstName"></div>
	
				<label>Last Name</label>
				<div class="input-group"><input type="text" class="form-control"  name="sysManagerLastName" ng-model="sysmanager.lastName"></div>
	
				<label>Email</label>
				<div class="input-group"><input type="text" class="form-control" name="sysManagerEmail" ng-model="sysmanager.eMail"></div>
	
				<label>Password</label>
				<div class="input-group"><input type="password" class="form-control"  name="sysManagerPassword" ng-model="sysmanager.password"></div>
	
				<label>Country</label>
				<div class="input-group"><input type="text" class="form-control" name="sysManagerCountry" ng-model="sysmanager.country"></div>
				
				<label>City</label>
				<div class="input-group"><input type="text" class="form-control" name="sysManagerCity" ng-model="sysmanager.city"></div>
				
				<label>Address</label>
				<div class="input-group"><input type="text" class="form-control" name="sysManagerAddress" ng-model="sysmanager.address"></div>
	
	   			<input type="submit" id="submit" value="Submit" />
   			</form>
		</div>
	</div>
</div>