<navbarbidder></navbarbidder>

<h1>Your Profile</h1>

<div class="container">


<form class="form-horizontal" role="form" ng-submit="updateUser()" >
<div class="form-group">
<label class="col-sm-2 control-label">First Name:</label>
<div class="col-sm-2">
<input type="text" class="form-control"  name="userFName" ng-model="user.firstName" required>	</div>
<input type="submit" class='btn btn-info btn-xs' id="submit" value="Update" />
</div>		
</form>

<form class="form-horizontal" role="form" ng-submit="updateUser()" >
<div class="form-group">
<label class="col-sm-2 control-label">Last Name:</label>
<div class="col-sm-2">
<input type="text" class="form-control"  name="userLName" ng-model="user.lastName" required>	</div>
<input type="submit" class='btn btn-info btn-xs' id="submit" value="Update" />
</div>		
</form>

<form class="form-horizontal" role="form" ng-submit="updateUser()" >
<div class="form-group">
<label class="col-sm-2 control-label">Password:</label>
<div class="col-sm-2">
<input type="password" class="form-control"  name="userPassword" ng-model="user.password" required>	</div>
<input type="submit" class='btn btn-info btn-xs' id="submit" value="Update" />
</div>		
</form>

<form class="form-horizontal" role="form" ng-submit="updateUser()" >
<div class="form-group">
<label class="col-sm-2 control-label">E-mail:</label>
<div class="col-sm-2">
<input type="text" class="form-control"  name="userEMail" ng-model="user.eMail" required>	</div>
<input type="submit" class='btn btn-info btn-xs' id="submit" value="Update" />
</div>		
</form>

<form class="form-horizontal" role="form" ng-submit="updateUser()" >
<div class="form-group">
<label class="col-sm-2 control-label">Address:</label>
<div class="col-sm-2">
<input type="text" class="form-control"  name="userAddress" ng-model="user.address" required>	</div>
<input type="submit" class='btn btn-info btn-xs' id="submit" value="Update" />
</div>		
</form>

<form class="form-horizontal" role="form" ng-submit="updateUser()" >
<div class="form-group">
<label class="col-sm-2 control-label">City:</label>
<div class="col-sm-2">
<input type="text" class="form-control"  name="userCity" ng-model="user.city" required>	</div>
<input type="submit" class='btn btn-info btn-xs' id="submit" value="Update" />
</div>		
</form>

<form class="form-horizontal" role="form" ng-submit="updateUser()" >
<div class="form-group">
<label class="col-sm-2 control-label">Country:</label>
<div class="col-sm-2">
<input type="text" class="form-control"  name="userCountry" ng-model="user.country" required>	</div>
<input type="submit" class='btn btn-info btn-xs' id="submit" value="Update" />
</div>		
</form>

</div>




