<navbarrm></navbarrm>

<div class="container">
    <div class="row">
		<div class="col-sm-12">
			<form ng-submit="addDrink()" >
				<label>Drink Name</label>
				<div class="input-group"><input type="text" class="form-control"  name="drinkName" ng-model="drink.name"></div>
	
				<label>Drink Description</label>
				<div class="input-group"><input type="text" class="form-control"  name="drinkDescription" ng-model="drink.description"></div>
	
				<label>Price</label>
				<div class="input-group"><input type="text" class="form-control" name="drinkPrice" ng-model="drink.price"></div>
	
	
	   			<input type="submit" id="submit" value="Submit" />
   			</form>
		</div>
	</div>
</div>